div.left{
	width: 50%;
	background-color: #8D91C7;
	float: left;
	height: 600px;
	
}

div.right{
	width: 50%;
	background-color: #B0DAF1;
	float:right;
	height: 600px;
}

img{
width: 300px;
height: 300px;
align-self: center;
margin-left: 25%;
margin-top: 25%;

}

